@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Crislei Terassi Sorrilha<br />
    <ul>
        <li><a href="https://github.com/crtsms">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/crisleiterassi/">LinkedIn</a></li>
        <li><a href="https://twitter.com/crtsms">Twitter</a></li>
        <li>Skipe: crts.ms</li>
    </ul>
</address>
