@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" style="margin-top:20px;">
    <h1>Welcome</h1>
    <p>This is a personal website for TS Brothers showing our projects we are working on. Feel free to test the live demos and download the source on our GitHub.</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2><a href="https://crtsms.azurewebsites.net/">Challenge App</a></h2>
        <span class="label label-success">Done</span>
        <ul>
            <li>Remote validation of properties of model</li>
            <li>Async action methods</li>
            <li>Modal to edit ternal relationship</li>
            <li>Load multiple partial view, in same page, with asynchronous operations</li>
            <li>Use Model, ModelView, View and Controller</li>
            <li>Use POCO Entities</li>
            <li>Source on <a href="https://github.com/crtsms/Challenge">GitHub</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Medicines</h2>
        <span class="label label-warning">Developing</span>
        <ul>
            <li>Search the prices for drugs in Brazil</li>
            <li><a href="http://portal.anvisa.gov.br/listas-de-precos">Anvisa</a> based prices</li>
            <li>Disponible via <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Web API</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>XML TISS</h2>
        <span class="label label-warning">Developing</span>
        <ul>
            <li>XML TISS schema validator</li>
            <li>Providing all information for XML on beaultiful way</li>
            <li>Validating hash based in information in file</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>TISS Gen</h2>
        <span class="label label-danger">Not started</span>
        <ul>
            <li>Generating XML to billing the insurance company</li>
            <li>Totally free for unsaved files on the server</li>
            <li>Files generated in neweast version of TISS schemas</li>
        </ul>
    </div>
</div>
